<div style="color:red">
{{error}}
</div>
<div>
Number of days: {{numDays}}</br>
<table>
	<tr>
		<th>Type</th>
		<th>Ticket Price</th>
		<th>Total</th>
		<th>Description</th>
	</tr>
{{#each result}}
	<tr>
		<td>{{type}}</td>
		<td>{{ticket}}</td>
		<td>{{price}}</td>
		<td>{{description}}</td>
	</tr>
{{/each}}
</table>
</div>